.search-container {
margin: 20px 0;
}

.search-input {
width: 100%;
padding: 12px;
border: 2px solid #3182ce; 
border-radius: 8px;
font-size: 1rem;
color: dark grey; 
background-color: white;
box-sizing: border-box;
}

.search-input::placeholder {
color: #abb9cd;
}
